setuptools>=45.1.0
pip>=20.0.2
git+https://github.com/YouTwitFace/photohash.git
aiohttp
aria2p>=0.7.1
async_generator>=1.10
asyncurban>=0.3.3
beautifulsoup4>=4.8.2
cowpy
dnspython
emoji
gitpython>=3.0.7
google-api-python-client
google-auth-oauthlib
googletrans>=2.4.0
google_images_download>=2.7.1
gTTS>=2.0.1
gTTS-token>=1.1.3
hachoir
heroku3
httplib2
humanize
lxml
oauth2client
Pillow>=5.3.0
psycopg2
psycopg2-binary
pybase64>=0.4.0
pylast
pySmartDL>=1.3.3
python-barcode
python-dotenv
PyGithub>=1.45
youtube-dl>=2020.1.24
pytz
qrcode
requests>=2.18.4
search-engine-parser>=0.4.2
speedtest-cli>=2.0.2
sqlalchemy>=1.2
telethon
telethon-session-sqlalchemy>=0.2.6
tgcrypto
wikipedia>=1.4.0
spamwatch
telegraph
pymongo[srv]
